.cart {
    padding: 24px 18px;
    background-color: #f8f8f8;
}

.cart-total-header {
    margin-top: 0;
    margin-bottom: 12px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #414b56;
}

.cart-list {
    list-style: none;
    margin: 0;
    padding: 0;
}