.cart {
    padding: 24px 18px 96px;
}

.cart-total-header {
    margin-top: 0;
    margin-bottom: 12px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #414b56;
}

.cart-list-container {
    display: flex;
    justify-content: center;
}

.cart-list {
    width: 290px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.purchase-button-container {
    position: fixed;
    z-index: 2;
    bottom: -1px;
    width: 100%;
    background-color: white;
    padding: 18px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.purchase-button-container button {
    width: 290px;
    height: 50px;
    border: none;
    background-color: #D1333C;
    color: white;
    border-radius: 1px;
    font-weight: 700;
}

@media only screen and (min-width: 760px) {
    .cart-list {
        width: 630px;
    }
    .purchase-button-container button {
        width: 630px;
    }
}