.categories-navbar-container {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.15);
    padding: 0 80px;
}

.categories-navbar {
    height: 90px;
    display: flex;
    overflow: auto;
}

.categories-navbar a {
    margin: auto;
    text-decoration: none;
    padding: 5px 25px;
    background-color: #3A3D49;
    color: white;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bold;
}

@media only screen and (max-width: 1169px) {
    .categories-navbar {
        display: none;
    }
}