.category-component {
    padding: 0 0 3em 0;
    color: #777A83;
}

.category-title {
    font-size: 32px;
    text-align: center;
    margin: 0;
    letter-spacing: -1px;
    transform: scaleY(1.1);
}

.category-title a {
    text-decoration: none;
    color: #3A3D49;
}

.category-component-list-container {
    padding: 4em 3em 2em 3em;
    position: relative;
}

.category-component-list-container button {
    color: #777A83;
    padding: 0;
    height: 4em;
    width: 2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
    top: 4em;
    border: none;
    background-color: #e7e7e7;
    z-index: 2;
}

.category-component-list-container button:focus {
    outline: none;
}

.category-component-list-container .left-button {
    left: 0;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    justify-content: flex-start;
}

.category-component-list-container .right-button {
    right: 0;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    justify-content: flex-end;
}

.category-component-relative-ref {
    position: relative;
    overflow: hidden;
    height: 60px;
}

.category-component .category-component-list {
    position: absolute;
    white-space: nowrap;
    transition: 0.3s;
}

.category-component-list li {
    display: inline-block;
}

