.category-component {
    padding: 0 0 3em 0;
    color: #3A3D49;
}

.category-title {
    font-size: 32px;
    text-align: center;
    margin: 0;
    letter-spacing: -1px;
    transform: scaleY(1.1);
}

.category-title a {
    text-decoration: none;
    color: #3A3D49;
}

.category-component-list-container {
    padding: 4em 3em 2em;
    position: relative;
}

@media only screen and (max-width: 600px) {
    .category-component-list-container {
        padding: 4em 2em 2em;
    }
}

.category-component-list-container .category-component-button {
    color: #777A83;
    padding: 0;
    height: 4em;
    width: 2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
    top: 4em;
    border: none;
    background-color: #e7e7e7;
    z-index: 2;
}

.category-component-list-container .left-button {
    left: 0;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    justify-content: flex-start;
}

.category-component-list-container .right-button {
    right: 0;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    justify-content: flex-end;
}

.category-component-relative-ref {
    position: relative;
    overflow: hidden;
}

.category-component-list {
    position: absolute;
    white-space: nowrap;
    transition: 0.3s;
    display: flex;
}

.category-component-view-more {
    background-color: #e7e7e7;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-component-view-more a {
    text-decoration: none;
    padding: .5em 2.5em;
    background-color: #3A3D49;
    color: white;
    border-radius: 4px;
    opacity: 0.6;
    font-weight: 500;
}
