.detail {
    padding: 18px 18px 12px;
    margin-bottom: 12px;
    background-color: white;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 6px 12px 0 rgba(239,243,245,.48), 0 1px 4px 0 rgba(228,230,232,.6);
}

.detail-image {
    padding: 10px 30px 0;
}

.detail-image img {
    object-fit: cover;
    width: 100%;
    max-height: 180px;
}

.detail-product-name {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 8px;
    color: #414b56;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
}

.detail-product-price {
    text-align: center;
    font-style: italic;
    color: #676f78;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.detail-price-name {
    margin-right: 5px;
}

.detail-change-quantity-container {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.detail-price-total {
    text-align: end;
    font-weight: 700;
    color: #414b56;
    font-size: 14px;
}

.detail-quit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #3A3D49;
    cursor: pointer;
    font-weight: 100;
}

@media only screen and (min-width: 760px) {
    .detail {
        display: flex;
        align-items: center;
    }
    .detail-product-info {
        width: 210px;
    }
    .detail-product-name {
        margin-top: 0;
    }
    .detail-image {
        margin: 0 42px;
    }
    .detail-image img {
        width: 220px;
    }
    .detail-price-total {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}