.navbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D1333C;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(228,230,232,.35);
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 20px 5px;
}

.navbar-head {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-burguer-button {
    height: 100%;
    background-color: transparent;
    border: 0;
    padding: 0 1.5em;
    color: white;
}

.navbar-nav ul {
    margin: 0;
    margin-right: 1.5em;
    padding: 0;
    list-style: none;
    display: flex;
}

.navbar-nav li {
    margin-left: 1em;
}

@media only screen and (min-width: 1169px) {
    .navbar-head button {
        display: none;
    }
    .navbar-head {
        margin-left: auto;
        margin-right: auto;
    }
    .navbar {
        height: 90px;
        background-color: white;
    }
    .navbar a {
        color: #3A3D49;
    }
}

@media only screen and (max-width: 1169px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }
}

.new-in-cart-icon-container {
    position: absolute;
    top: 20px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-in-cart-icon {
    position: absolute;
    border-radius: 1.2em;
    height: 1.2em;
    width: 1.2em;
    background-color: rgba(247, 203, 51, 0.7);
    animation-timing-function: linear;
    animation-duration: .5s;
    animation-name: added;
}
  
@keyframes added {
    50% {
        height: 2em;
        width: 2em;
        background-color: rgba(247, 203, 51, 0.9);
    }

    100% {
        height: 1.2em;
        width: 1.2em;
    }
}



