.navbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D1333C;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 20px 5px;
}

.navbar-head {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-burguer-button {
    height: 100%;
    background-color: transparent;
    border: 0;
    padding: 0 1.5em;
    color: white;
}

.navbar-burguer-button:focus {
    outline: none;
}

.navbar-nav ul {
    margin: 0;
    margin-right: 1.5em;
    padding: 0;
    list-style: none;
    display: flex;
}

.navbar-nav li {
    margin-left: 1em;
}

@media only screen and (min-width: 1169px) {
    .navbar-head button {
        display: none;
    }
    .navbar-head {
        margin-left: auto;
        margin-right: auto;
    }
    .navbar {
        height: 90px;
        background-color: white;
    }
    .navbar a {
        color: #3A3D49;
    }
}

@media only screen and (max-width: 1169px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
    }
}



