.navbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D1333C;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar-head {
    height: 100%;
}

.navbar-burguer-button {
    height: 100%;
    background-color: transparent;
    border: 0;
    padding: 0 1.5em;
    color: white;
}

.navbar-burguer-button:focus {
    outline: none;
}

/* .navbar .navbar-logo {

} */

.navbar-nav ul {
    margin: 0;
    margin-right: 1.5em;
    padding: 0;
    list-style: none;
    display: flex;
}

.navbar-nav li {
    margin-left: 1em;
}

@media only screen and (min-width: 800px) {
    .navbar-head button {
        display: none;
    }
}



