.product-component {
    display: flex;
    white-space: normal;
    padding-right: 2.5em;
}

.product-component-image-container {
    margin-right: 1em;
}

.product-component-image-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.product-component-info {
    padding-top: .7em;
}

.product-component-name {
    color: #3A3D49;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    max-width: 50px;
}

.product-component-ingredients {
    font-size: 15px;
    line-height: 21px;
}

.product-component-price {
    font-size: 20px;
    font-weight: 700;
    color: #3A3D49;
}

.product-component-add-button {
    border: none;
    padding: 1em 2.5em;
    color: #3A3D49;
    font-weight: 700;
    cursor: pointer;
    margin-top: 1em;
    border-radius: 4px;
    background-color: #fad040;
    color: #3a3d4a;
}