.product-component {
    display: flex;
    white-space: normal;
    box-sizing: border-box;
    padding: 30px 10px;
    border-radius: 4px;
    margin-right: 2.5em;
    background-color: white;
    box-shadow: 0 6px 12px 0 rgba(239,243,245,.48), 0 1px 4px 0 rgba(228,230,232,.6);
}

.product-component-image-container {
    margin-right: 1em;
}

.product-component-image-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.product-component-info {
    padding-top: .7em;
}

.product-component-name {
    color: #3A3D49;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    max-width: 50px;
}

.product-component-ingredients {
    font-size: 15px;
    line-height: 21px;
}

.product-component-price {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 180px;
    min-height: 40px;
}

.product-component-price-middle {
    max-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-component-price button {
    border: none;
    color: #3A3D49;
    cursor: pointer;
    background-color: #fad040;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    position: absolute;
}

.product-component-right-button {
    right: 0;
}

.product-component-left-button {
    left: 0;
}

.product-component-price-value {
    font-size: 20px;
    font-weight: 700;
    color: #3A3D49;
}

.product-component-add-button {
    border: none;
    width: 175px;
    height: 40px;
    color: #3A3D49;
    font-weight: 700;
    cursor: pointer;
    margin-top: 1em;
    border-radius: 4px;
    background-color: #fad040;
}

.product-component-change-quantity-group {
    height: 40px;
}

.product-component-change-quantity-group button {
    border: none;
    color: #3A3D49;
    cursor: pointer;
    border-radius: 4px;
    background-color: #fad040;
    height: 100%;
    width: 32px;
}

.product-component-change-quantity-group input {
    width: 46px;
    margin-left: 4px;
    margin-right: 4px;
    height: 96%;
    border: none;
    border-radius: 4px;
    background-color: rgb(241, 241, 242);
    color: #3A3D49;
    text-align: center;
}

.product-component-change-quantity-group input::-webkit-outer-spin-button,
.product-component-change-quantity-group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-component-change-quantity-group input[type=number] {
  -moz-appearance: textfield;
}